html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
   background: transparent;  
}

html::-webkit-scrollbar-thumb{
    background: #fff;  
    border-radius: 5rem;
}

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   background-color: black;
}

section{
    width: 100%;
    height: 100vh;
}

section header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 90px 5px rgba(93, 133, 224, 0.5);
    background-color: #2053c9;
    border-radius: 0 0 20px 20px;
}

section header .logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    background-color: #2053c9;
}

section header .logo span{
    font-weight: bold;
    background-color: #2053c9;
}

section header p{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #2053c9;
    cursor: pointer;
    letter-spacing: 0;
    transition: letter-spacing 0.2s ease-in-out;
}

section header p:hover{
    letter-spacing: 2px;
}

section header ul{
    list-style-type: none;
    background-color: #2053c9;
}

section header ul li{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;
    background-color: #2053c9;
}

section header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #2053c9;
    letter-spacing: 0;
    transition: letter-spacing 0.2s ease-in-out;
}

section header ul li a:hover{
    letter-spacing: 2px;
}

section .texts h1{
    position: absolute;
    top: 30%;
    left: 3%;
    font-size: 100px;
    color: white;
}

section .texts h1 span{
    color: #2053c9  ;
}

section .texts p{
    color: white;
    width: 650px;
    position: absolute;
    top: 50%;
    left: 3%;
    line-height: 26px;
    text-align: justify;
}

section .btn{
    position: relative;
    top: 70%;
    left: 40px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


section .btn .read{
    background: #2053c9;
    color: white;
    cursor: pointer;
    letter-spacing: 0;
    transition: letter-spacing 0.2s ease-in-out;
}

section .btn p{
    padding: 10px 25px;
    background: none;
    border: 2px solid #2053c9;
    cursor: pointer;
    color: white;
    letter-spacing: 0;
    transition: letter-spacing 0.2s ease-in-out;
}

section .btn .read:hover{
    letter-spacing: 2px;
}

section .btn p:hover{
    letter-spacing: 2px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
  
.box {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
}
  
.box h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
.box p {
    margin-bottom: 10px;
  }
  
.box button {
    margin-top: 10px;
    padding: 10px 25px;
    background: none;
    border: 2px solid #2053c9;
    cursor: pointer;
    color: white;
    letter-spacing: 0;
    transition: letter-spacing 0.2s ease-in-out;
}
  
.box button:hover {
    letter-spacing: 2px;
}
  
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer{
    background: #2053c9;
    padding: 50px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px -10px 90px 5px rgba(93, 133, 224, 0.5);
}

.footer .main{
    max-width: 1170px;
    margin: auto;
    background: #2053c9;
}

ul{
    list-style: none;
    background: #2053c9;
}

.row{
    display: flex;
    flex-wrap: wrap;
    background: #2053c9;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
    background: #2053c9;
}

.footer_col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    background: #2053c9;
}

.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: black;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li{
    margin-bottom: 20px;
    background: #2053c9;
}

.footer_col ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background: #2053c9;
}

.footer_col .social img{
    width: 20px;
    margin: 5px;
    background: #2053c9;
}
}